.flex{
	display: flex;
}
.j-around{
	justify-content: space-around;
}
.j-between{
	justify-content: space-between;
}
.j-center{
	justify-content: center;
}
.j-start{
	justify-content: start;
}
.j-end{
	justify-content: end;
}
.a-center{
	align-items:center;
}
.a-top{
	align-items:end ;
}
.hover{
	background-color:#f1f1f1;
}
.float{
	display: float;
}
.float-right{
	float:right;
}
